.button_section {
    height: 15vh;
}

.button_bar {
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 12vw;
}
.button {
    font-size: 6vw;
    color: gray;
}