.button_section {
    height: 15vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button_bar {
    width: 60%;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
